---
import GenericCard from '../../components/GenericCard.astro'
import {tutorials} from "./tutorialUtils";
---
<div class="relative bg-blue-light pt-16 pb-20 px-4 sm:px-6 lg:pt-16 lg:pb-28 lg:px-8">
    <div class="absolute inset-0">
        <div class="bg-white dark:bg-gray-dark h-1/3 sm:h-2/3"/>
    </div>
    <section class="relative max-w-7xl mx-auto">
        <div class="text-center">
            <h1 class="text-3xl tracking-tight font-extrabold text-red dark:text-red-light sm:text-4xl mt-0">Tutorials from Vidya</h1>
            <h2 class="mt-3 max-w-2xl mx-auto text-xl text-gray-dark dark:text-blue-light sm:mt-4">
                Watch our video tutorials (with source code on GitHub) to learn something new.
            </h2>
        </div>
        <nav class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
            {tutorials.map((tutorial) => (
                <GenericCard slug={tutorial.slug} title={tutorial.title} description={tutorial.description} image={tutorial.image} collection="tutorials"/>
            ))}
        </nav>
    </section>
</div>