---
import {Image} from 'astro:assets';
import {images} from "../../components/Images";
interface Props {
    title: string
    name: string
    image: string
    quote: string
}

const { title: instructorTitle, name, profileUrl, image, quote} = Astro.props

---
<section class="bg-white dark:bg-gray-dark overflow-hidden">
    <div class="relative max-w-7xl mx-auto pt-20 pb-12 px-4 sm:px-6 lg:px-8 lg:py-20">
        <div class="relative lg:flex lg:items-center">
            <div class="hidden lg:block lg:flex-shrink-0">
                <div class="h-64 w-64 rounded-full xl:h-80 xl:w-80 relative">
                    <Image
                            layout="fill"
                            class="rounded-full"
                            src={images[`/src${image}`]()}
                            alt={`Course instructor ${name}`}
                    />
                </div>
            </div>

            <div class="relative lg:ml-10">
                <svg
                        class="absolute top-0 left-0 transform -translate-x-8 -translate-y-24 h-36 w-36 text-green-dark dark:text-green-light opacity-50"
                        stroke="currentColor"
                        fill="none"
                        viewBox="0 0 144 144"
                        aria-hidden="true">
                    <path
                            strokeWidth={2}
                            d="M41.485 15C17.753 31.753 1 59.208 1 89.455c0 24.664 14.891 39.09 32.109 39.09 16.287 0 28.386-13.03 28.386-28.387 0-15.356-10.703-26.524-24.663-26.524-2.792 0-6.515.465-7.446.93 2.327-15.821 17.218-34.435 32.11-43.742L41.485 15zm80.04 0c-23.268 16.753-40.02 44.208-40.02 74.455 0 24.664 14.891 39.09 32.109 39.09 15.822 0 28.386-13.03 28.386-28.387 0-15.356-11.168-26.524-25.129-26.524-2.792 0-6.049.465-6.98.93 2.327-15.821 16.753-34.435 31.644-43.742L121.525 15z"
                    />
                </svg>
                <blockquote class="relative">
                    <div class="text-2xl leading-9 font-medium text-gray-900">
                        <p>{quote}</p>
                    </div>
                    <footer class="mt-8">
                        <div class="flex">
                            <div class="flex-shrink-0 lg:hidden">
                                <div class="h-32 w-32 rounded-full relative">
                                    <Image
                                            layout="fill"
                                            class="rounded-full"
                                            src={images[`/src${image}`]()}
                                            alt={`Course instructor ${name}`}
                                    />
                                </div>
                            </div>
                            <div class="ml-4 lg:ml-0 mt-1 lg:mt-0">
                                <div class="text-lg lg:text-xl font-medium text-gray-dark dark:text-blue-light">
                                    {name}
                                </div>
                                <div class="text-base lg:text-lg font-medium text-red dark:text-red-light">
                                    Course instructor
                                </div>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>