---
import {Image} from 'astro:assets';

import dos from '../img/partners/dos.svg'
import trss from '../img/partners/trss.png'
import healthCareGov from '../img/partners/healthcaregov.png'
import ninaday from '../img/partners/ninaday.svg'
import eop from '../img/partners/eop.svg'
import gcn from '../img/partners/routefifty.png'
import eureka from '../img/partners/eureka.png'
import gsa from '../img/partners/gsa.png'
---

<section class="bg-green-light dark:bg-blue">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <nav class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
            <div>
                <h2 class="text-3xl font-extrabold text-red dark:text-red-light sm:text-4xl">
                    Government and business trust Vidya.
                </h2>
                <p class="mt-3 max-w-3xl text-lg text-gray-dark dark:text-blue-light">
                    We are a certified minority-owned business proud to have brought our expertise and insight to large
                    government agencies, small
                    businesses, and
                    everything in between to help them all capitalize on an ever-evolving technology landscape.
                </p>
                <div class="mt-8 sm:flex">
                    <div class="rounded-md shadow">
                        <a href="/contact" class="flex contact-us">
                            Contact Us
                        </a>
                    </div>
                </div>
            </div>
            <div class="mt-8 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-0 lg:grid-cols-2">
                <div class="col-span-1 flex justify-center py-8 px-8 bg-blue-light hover:bg-red-light">
                    <Image src={dos}
                            alt="United States Department of State"
                    />
                </div>


                <div class="col-span-1 flex justify-center py-8 px-8 bg-blue-light hover:bg-red-light">
                    <Image src={trss}
                            alt="Thomson Reuters Special Services"
                    />
                </div>
                <div class="col-span-1 flex justify-center py-8 px-8 bg-blue-light hover:bg-red-light">
                    <Image src={healthCareGov}
                           alt="Healthcare.gov"
                    />
                </div>
                <div class="col-span-1 flex justify-center py-8 px-8 bg-blue-light hover:bg-red-light">
                    <Image src={ninaday}
                           alt="Ninaday"
                    />
                </div>
                <div class="col-span-1 flex justify-center py-8 px-8 bg-blue-light hover:bg-red-light">
                    <Image src={eop}
                           alt="Executive Office of the President of the United States"
                    />
                </div>
                <div class="col-span-1 flex justify-center py-8 px-8 bg-blue-light hover:bg-red-light">
                    <Image src={gcn}
                           alt="Government Computing News"
                    />
                </div>
                <div class="col-span-1 flex justify-center py-8 px-8 bg-blue-light hover:bg-red-light">
                    <Image src={eureka}
                           alt="Eureka Golf Products"
                    />
                </div>
                <div class="col-span-1 flex justify-center py-8 px-8 bg-blue-light hover:bg-red-light">
                    <Image src={gsa}
                           alt="Government Services Administration"
                    />
                </div>
            </div>
        </nav>
    </div>
</section>

